@import 'variables';
@import 'mixins';


body {
    box-sizing: border-box;
    font-size: 62.5%;
    background: rgb(65, 65, 65);
}


.card-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: @container-width;
    height: 500px;
    background: rgb(218, 218, 218);
    .border-radius(5px, @border-radius-card-corner, 
                            @border-radius-card-corner, 
                                @border-radius-card-corner);


.intro {
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 (20% / @container-width) * 100;
    color: whitesmoke;
    background: @card-blue-bg;
    border-top-left-radius: 5px;
    border-bottom-right-radius: @border-radius-card-corner;
    height: 150px;
    width: 350px;
    .name {
        font-size: 5rem;
    }
    .job-position {
        display: inline-block;
        font-size: 3rem;
        width: 100%;
}
}

.categories {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    right: 0;
    height: 100%;
    width: 80px;
    border-top-right-radius: @border-radius-card-corner;
    border-bottom-right-radius: @border-radius-card-corner;
    background: whitesmoke;
    .btn-category {
        display: flex;
        height: auto;
        padding: 10px;
        &:first-child {
        border-top-right-radius: @border-radius-card-corner;
        }
        &:last-child {
        border-bottom-right-radius: @border-radius-card-corner;
        }
    }
    .icon-category {
        height: 80px;
    }
} // categories section


